@font-face {
    font-family: "normal";
    src: url(font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

* {
    margin: 0;
    padding: 0;
}

.body-div {
    --explore_padding-inline: 24px;
    font-family: normal;
    letter-spacing: normal;
    line-height: 1.125rem;
    font-size: 0.875rem;
}

/* header */

.header {
    overflow: hidden;
}

.header-input {
    margin: 12px 24px 0;
}

.header-button {
    padding: 14px 24px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    justify-content: center;
    font-family: normal;
    font-weight: inherit;
    align-items: center;
    background: #ffffff;
    color: #222222;
    min-width: 94px;
    min-height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}

.header-button-span {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    justify-content: center;
    letter-spacing: normal;
    gap: 8px;
    max-width: 100%;
}

.header-button-icon {
    display: block;
    fill: currentColor;
    margin-top: 1px;
}

.header-button-icon img {
    height: 12px;
    width: 12px;
}

.home-icon-video {
    opacity: 1;
    transform: none;
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

.header-second-main {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.header-second-section {
    padding-top: 20px;
    padding-inline: 69px;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    overflow: hidden;
    position: relative;
    height: 64px;
}

.header-second-section:hover {
    font-weight: 600;
}

.header-second-home {
    margin-bottom: 8px;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: normal;
}

.header-icon-video {
    opacity: 1;
    transform: none;
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

.header-icon-span {
    transform-origin: center bottom;
    transform: none;
    margin-bottom: 6px;
    margin-top: 4px;
    position: relative;
}

.header-video {
    height: 36px;
    width: 36px;
    display: block;
}

.header-video video {
    transform: scale(2);
    left: 0;
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-text {
    transform: none;
    transform-origin: top;
    line-height: 0.625rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #6a6a6a;
}

.header-second-exp {
    margin-bottom: 8px;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    font-family: normal;
}

.header-second-services {
    margin-bottom: 8px;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    font-family: normal;
}

.header-second-new {
    padding: 0px 5px;
    font-size: 0.5rem;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25),
        0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40,
        inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg,
            #3e567c 1.59%,
            #3a5475 21.23%,
            #2d3c5b 58.6%,
            #809dc0 97.4%);
    border-radius: 10px 10px 10px 2px;
    transform-origin: bottom-left;
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
    left: 35px;
    top: -56px;
}

.header-second-new-text {
    background-clip: text;
    line-height: 10px;
    font-weight: 700;
    font-size: 0.5rem;
    text-align: center;
    letter-spacing: 0.04em;
    text-wrap: nowrap;
    color: #ffffff;
    position: relative;
    margin-bottom: 1px;
}

/* main section */

.main-section {
    margin-bottom: 49px;
    line-height: 10.02px;
}

/* bengaluru section */

.bengaluru-section-main {
    display: grid;
}

/* bengaluru section heading */

.heading {
    margin: 34px 24px 14px 24px;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.heading-content {
    font-size: 18px;
    text-align: start;
    font-weight: 600;
    font-family: normal;
    line-height: 20.02px;
    letter-spacing: -0.18px;
}

.heading-arrow {
    margin-inline-start: 2px;
}

.heading img {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 5.33333;
    overflow: visible;
}

.room-details-div {
    padding: 4px 24px 0px;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 11px) / 2);
    column-gap: 11px;
    row-gap: 8px;
}

.room-details-div::-webkit-scrollbar {
    display: none;
}

.room-image {
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: -2px;
}

.room-image img {
    aspect-ratio: 20/19;
    object-fit: cover;
    width: 100%;
}

.image-content {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
        "top-row top-row top-row"
        "middle-row middle-row middle-row"
        "bottom-row bottom-row bottom-row";
    padding: 12px 12px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.image-content-favo {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(2, minmax(min-content, auto));
    grid-area: top-row;
}

.image-content-favourite {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5.5px 9.5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    font-weight: 600;
    font-feature-settings: "salt";
    height: fit-content;
    max-width: 83px;
    display: inline-flex;
    color: #222222;
    line-height: 0.8125rem;
    font-size: 0.6875rem;
}

.image-like {
    display: flex;
    justify-self: flex-end;
    right: 0px;
}

.image-like img {
    display: block;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    overflow: visible;
}

.room-content {
    display: grid;
    font-size: 14px;
    grid-template-columns: 150px;
    margin-inline-end: 4px;
    margin-inline-start: 4px;
    row-gap: 2px;
    column-gap: 2px;
    line-height: 20.02px;
    line-break: strict;
    margin-top: 8px;
}

.first-line {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
}

.second-line {
    display: flex;
    flex-wrap: nowrap;
    line-height: 16px;
    font-size: 12px;
    color: #6a6a6a;
}

.first-span {
    margin-right: 3px;
}

.second-span {
    margin-right: 3px;
}

.third-span {
    margin-right: 3px;
}

.rating-star {
    display: block;
    height: 8px;
    width: 8px;
    fill: currentColor;
}

/* footer heading */

.footer-heading {
    position: relative;
    background: #f7f7f7;
    padding: 48px 24px;
}

.footer-heading h2 {
    margin-bottom: 8px;
    line-height: 1.625rem;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -0.01375rem;
}

.footer-heading-line {
    position: relative;
    overflow: visible;
}

.footer-line {
    background-color: #dddddd;
    height: 1px;
}

.footer-arrow-button {
    position: relative;
}

.footer-heading-left-arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    left: -14px;
    width: 36px;
    height: 50px;
    top: 1px;
}

.footer-heading-left-arrow img {
    display: block;
    height: 16px;
    width: 16px;
}

.footer-heading-right-arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    width: 36px;
    height: 50px;
    top: 1px;
    right: -14px;
}

.footer-heading-right-arrow img {
    display: block;
    height: 16px;
    width: 16px;
}

/* footer section */

footer {
    padding-bottom: 16px;
}

.footer-section {
    background: #f7f7f7;
}

.footer-section-main {
    padding: 0 24px;
    max-width: 1920px !important;
}

.footer-section-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 16px;
    width: 100%;
}

.first-section {
    border-top: 0;
    grid-column: 1/-1;
    padding: 24px 0;
}

.second-section {
    border-top: 1px solid #dddddd;
    grid-column: 1/-1;
    padding: 24px 0;
}

.third-section {
    border-top: 1px solid #dddddd;
    grid-column: 1/ -1;
    padding: 24px 0;
}

.section-heading {
    margin-bottom: 16px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: #222222;
}

.section-content {
    padding: 0;
    display: grid;
    gap: 18px;
}

.section-content li {
    list-style: none;
}

.footer-last-section {
    padding: 24px 0;
    border-top: 1px solid #ebebeb !important;
}

.section-first-line {
    margin-left: -8px;
    margin-bottom: 8px !important;
    display: flex;
}

.first-line-one {
    border: none;
    background-color: transparent;
    margin-right: 4px !important;
    gap: 8px;
    padding: 6px 8px;
    font-size: 14px;
    display: flex;
    text-align: center;
}

.first-line-span img {
    margin-right: 3px;
}

.english {
    position: relative;
    bottom: 3px;
}

.first-line-two {
    border: none;
    background-color: transparent;
    gap: 8px;
    display: flex;
    padding: 6px 8px;
}

.social-media {
    margin-bottom: 13px;
    margin-left: -8px !important;
    padding: 8px 0;
}

.social-media-ul {
    list-style: none !important;
    margin: 0 0 0 8px !important;
    padding: 0 !important;
    display: flex;
    line-height: 0 !important;
    gap: 20px !important;
}

.social-media ul li {
    margin-right: 4px !important;
}

.social-media ul li img {
    display: block;
    height: 16px;
    width: 16px;
    fill: currentcolor;
}

.inc {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: rgb(34, 34, 34) !important;
    display: inline-block !important;
    margin-bottom: 5px !important;
}

.privacy {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: rgb(34, 34, 34) !important;
}

.privacy-span {
    line-height: 1.125rem;
    font-size: 0.875rem;
    letter-spacing: normal;
}

.privacy-span ol {
    list-style: none;
    display: flex;
    gap: 3px;
}

.privacy-span ol li span {
    margin-right: 5px;
}

/* navication */

.navication {
    display: flex !important;
    align-items: center !important;
    left: 0;
    right: 0;
    height: calc(var(--tab-bar-height, 65px) + var(--overflow-padding)) !important;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.2s !important;
    z-index: 1;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 14px;      
    padding-bottom: 9px;
    justify-content: center;
}

.nav-div {
    flex: 1 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 560px;
    gap: 43px;
}

.nav-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-search img {
    height: 24px;
    width: 24px;

}

.nav-search span {
    font-size: 10px;
    line-height: 12px;
    color: #da1249;
    text-overflow: ellipsis !important;
    position: relative;
    bottom: 1px;
}

.explore {
    margin-top: 2px;
}

.nav-wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-wishlist img {
    height: 24px;
    width: 24px;
    position: relative;
    right: 4px;
    bottom: 1px;
}

.nav-wishlist span {
    font-size: 10px;
    line-height: 12px;
    color: #6a6a6a;
    position: relative;
}

.wishlist {
    right: 4px;
    margin-top: 1px;
}

.nav-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-login img {
    height: 24px;
    width: 24px;
    position: relative;
    right: -1px;
    bottom: 1px;
}

.nav-login span {
    font-size: 10px;
    line-height: 12px;
    color: #6a6a6a;
    position: relative;
    right: 4px;
}     

.log {
    margin-top: 1px;
}