@font-face {
    font-family: "Nnormal";
    src: url(font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

* {
    margin: 0;
    padding: 0;
}

.body-div {
    --explore_padding-inline: 24px;
    font-family: Nnormal;
    letter-spacing: normal;
    line-height: 1.125rem;
    font-size: 0.875rem;
}

/* header */

.header {
    overflow: hidden;
    display: block;
}

.header-section-second {
    display: none;
}

.airbnb-full-logo {
    display: none;
}

.header-input {
    margin: 12px 24px 0;
}

.header-button {
    padding: 14px 24px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    justify-content: center;
    font-family: Nnormal;
    font-weight: inherit;
    align-items: center;
    background: #ffffff;
    color: #222222;
    min-width: 94px;
    min-height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}

.header-button-span {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    justify-content: center;
    letter-spacing: normal;
    gap: 8px;
    max-width: 100%;
}

.header-button-icon {
    display: block;
    fill: currentColor;
    margin-top: 1px;
}

.header-button-icon img {
    height: 12px;
    width: 12px;
}

.home-icon-video {
    opacity: 1;
    transform: none;
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

.header-second-main {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.header-second-section {
    padding-top: 20px;
    padding-inline: 56px;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    overflow: hidden;
    position: relative;
    height: 64px;
}

.header-second-section:hover {
    font-weight: 600;
}

.header-second-home {
    margin-bottom: 8px;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: Nnormal;
    min-width: 68px;
}

.header-icon-video {
    opacity: 1;
    transform: none;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    transform-origin: center bottom;
    transform: none;
    margin-bottom: 6px;
    margin-top: 4px;
    position: relative;
}

.header-video {
    height: 36px;
    width: 36px;
    display: block;
}

.header-video video {
    transform: scale(2);
    left: 0;
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-text {
    transform: none;
    transform-origin: top;
    line-height: 0.625rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: -0.12px;
    color: #6a6a6a;
}

.header-text:hover {
    font-weight: 600;
    color: #6a6a6a;
}

.header-second-exp {
    margin-bottom: 8px;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    font-family: Nnormal;
    min-width: 68px;
}

.header-second-services {
    margin-bottom: 8px;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    font-family: Nnormal;
    min-width: 68px;
}

.header-second-new {
    padding: 0px 6px;
    font-size: 0.5rem;
    line-height: 17px;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25),
        0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40,
        inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg,
            #3e567c 1.59%,
            #3a5475 21.23%,
            #2d3c5b 58.6%,
            #809dc0 97.4%);
    border-radius: 10px 10px 10px 2px;
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
    left: 34px;
    top: -57px;
}

.header-second-new-text {
    background-clip: text;
    line-height: 10px;
    font-weight: 700;
    font-size: 0.5rem;
    text-align: center;
    letter-spacing: 0.04em;
    text-wrap: nowrap;
    color: #ffffff;
    position: relative;
    margin-bottom: 1px;
}

.header-section-second {
    display: none;
}

/* main section */

.main-section {
    margin-bottom: 49px;
    line-height: 10.02px;
}

/* bengaluru section */

.bengaluru-section-main {
    display: grid;
}

/* bengaluru section heading */

.heading {
    margin: 34px 24px 14px 24px;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.heading-special {
    padding-right: 12px;
}

.heading-content {
    font-size: 18px;
    text-align: start;
    font-weight: 600;
    font-family: Nnormal;
    line-height: 20.02px;
    letter-spacing: -0.18px;
}

.heading-arrow {
    margin-inline-start: 2px;
    position: relative;
}

.heading img {
    /* display: block; */
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 5.33333;
    overflow: visible;
}

.heading-content-button {
    display: none;
}

.room-details-div {
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 11px) / 2);
    column-gap: 11px;
    row-gap: 8px;
    padding: 2px 24px 0px;
}

.room-details-div::-webkit-scrollbar {
    display: none;
}

.room-image {
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.room-image img {
    aspect-ratio: 20/19;
    object-fit: cover;
    width: 100%;
}

.image-content {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
        "top-row top-row top-row"
        "middle-row middle-row middle-row"
        "bottom-row bottom-row bottom-row";
    padding: 12px 12px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.image-content-favo {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(2, minmax(min-content, auto));
    grid-area: top-row;
}

.image-content-favourite {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5.5px 9.5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    font-weight: 600;
    font-feature-settings: "salt";
    height: fit-content;
    max-width: 83px;
    display: inline-flex;
    color: #222222;
    line-height: 0.8125rem;
    font-size: 0.6875rem;
    backdrop-filter: blur(32px);
}

.image-like {
    display: flex;
    justify-self: flex-end;
    right: 0px;
}

.image-like img {
    display: block;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    overflow: visible;
}

.room-content {
    display: grid;
    font-size: 14px;
    text-wrap: pretty;
    margin-inline-end: 4px;
    margin-inline-start: 4px;
    row-gap: 2px;
    column-gap: 2px;
    line-height: 20.02px;
    line-break: strict;
    margin-top: 8px;
}

.first-line {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
}

.second-line {
    display: flex;
    flex-wrap: nowrap;
    line-height: 16px;
    font-size: 12px;
    color: #6a6a6a;
}

.first-span {
    margin-right: 3px;
}

.second-span {
    margin-right: 3px;
}

.third-span {
    margin-right: 3px;
    position: relative;
    top: 1px;
}

.rating-star {
    display: block;
    height: 8px;
    width: 8px;
    fill: currentColor;
}

.fourth-span {
    margin-left: 2px;
}

/* footer heading */

.footer-heading {
    position: relative;
    background: #f7f7f7;
    padding: 48px 24px;
    max-width: 1824px;
    margin: 0 auto;
}

.footer-heading h2 {
    margin-bottom: 8px;
    line-height: 1.625rem;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -0.44px;
}

.footer-heading-line {
    position: relative;
    overflow: visible;
}

.footer-line {
    background-color: #dddddd;
    height: 1px;
}

.footer-arrow-button {
    position: relative;
}

.footer-heading-left-arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    left: -12px;
    width: 36px;
    height: 50px;
    top: 1px;
}

.footer-heading-left-arrow img {
    display: block;
    height: 16px;
    width: 16px;
}

.footer-heading-right-arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    width: 36px;
    height: 50px;
    top: 1px;
    right: -12px;
}

.footer-heading-right-arrow img {
    display: block;
    height: 16px;
    width: 16px;
}

/* footer section */

.footer-section-main {
    background: #f7f7f7;
    padding: 0 24px;
    max-width: 1824px !important;
    margin: 0 auto;
    padding-bottom: 16px;
}

.footer-section-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 16px;
    width: 100%;
}

.first-section {
    border-top: 0;
    grid-column: 1/-1;
    padding-top: 24px;
    padding-bottom: 25px;
}

.second-section {
    border-top: 1px solid #dddddd;
    grid-column: 1/-1;
    padding-top: 24px;
    padding-bottom: 25px;
}

.third-section {
    border-top: 1px solid #dddddd;
    grid-column: 1/ -1;
    padding-top: 24px;
    padding-bottom: 26px;
}

.section-heading {
    margin-bottom: 17px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: #222222;
}

.section-content {
    padding: 0;
    display: grid;
    gap: 18px;
}

.section-content li {
    list-style: none;
}

.footer-last-section {
    padding: 24px 0;
    border-top: 1px solid #ebebeb !important;
}

.footer-last-section-two {
    display: none;
}

.section-first-line {
    margin-left: -8px;
    margin-bottom: 5px !important;
    display: flex;
}

.first-line-one {
    border: none;
    background-color: transparent;
    margin-right: 4px !important;
    gap: 8px;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: Nnormal;
    display: flex;
    text-align: center;
}

.first-line-span img {
    margin-right: 5px;
}

.english {
    position: relative;
    bottom: 3px;
    will-change: transform;
}

.first-line-two {
    border: none;
    background-color: transparent;
    gap: 8px;
    display: flex;
    padding: 6px 8px;
    font-family: Nnormal;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    bottom: 1px;
}

.social-media {
    margin-bottom: 13px;
    margin-left: -8px !important;
    padding: 8px 0;
}

.social-media-ul {
    list-style: none !important;
    margin: 0 0 0 8px !important;
    padding: 0 !important;
    display: flex;
    line-height: 0 !important;
    gap: 20px !important;
}

.social-media ul li {
    margin-right: 4px !important;
}

.social-media ul li img {
    display: block;
    height: 16px;
    width: 16px;
    fill: currentcolor;
}

.inc {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: rgb(34, 34, 34) !important;
    display: inline-block !important;
    margin-bottom: 5px !important;
}

.privacy {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: rgb(34, 34, 34) !important;
    line-height: 1.125rem;
    font-size: 0.875rem;
    letter-spacing: normal;
}

.privacy ol {
    list-style: none;
    display: flex;
    gap: 3px;
}

.privacy ol li span {
    margin-right: 8px;
}

.privacy-li-second {
    margin-left: -3px;
}

.privacy-li-third {
    margin-left: -3px;
}

.privacy-li-fourth {
    margin-left: -3px;
    color: #6a6a6a;
}

.footer-last-three {
    display: none;
}

/* navication */

.navication {
    display: flex !important;
    align-items: center !important;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    height: calc(var(--tab-bar-height, 65px) + var(--overflow-padding)) !important;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        visibility 0.2s !important;
    z-index: 1;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 14px;
    padding-bottom: 9px;
    justify-content: center;
}

.nav-div {
    flex: 1 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 560px;
    gap: 0px;
    position: relative;
    bottom: 1px;
}

.nav-search {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0 2px !important;
    max-width: 20% !important;
    min-width: 0px !important;
    position: relative;
    left: 2px;
}

.nav-search img {
    height: 24px;
    width: 24px;
    margin-bottom: 2px;
}

.nav-search span {
    font-size: 10px;
    line-height: 12px;
    color: #da1249;
    text-overflow: ellipsis !important;
    letter-spacing: 0.12px;
}

.nav-wishlist {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0 2px !important;
    max-width: 20% !important;
    min-width: 0px !important;
}

.nav-wishlist img {
    height: 24px;
    width: 24px;
    margin-bottom: 2px;
}

.nav-wishlist span {
    font-size: 10px;
    line-height: 12px;
    color: #6a6a6a;
}

.nav-login {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0 2px !important;
    max-width: 20% !important;
    min-width: 0px !important;
    position: relative;
    right: 2px;
}

.nav-login img {
    height: 24px;
    width: 24px;
    margin-bottom: 2px;
}

.nav-login span {
    font-size: 10px;
    line-height: 12px;
    color: #6a6a6a;
}

/* media call at 412px */

@media screen and (min-width: 412px) {
    .header-second-section {
        padding-inline: 64px;
    }
}

/* media call at 744px */

@media screen and (min-width: 744px) {
    .header {
        display: none;
    }

    .header-section-second {
        display: block;
        background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
        padding-bottom: 40px;
    }

    .header-section-first {
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        height: 94px;
        display: flex;
        flex-direction: row;
    }

    .header-airbnb-red-logo {
        position: relative;
        bottom: 5px;
    }

    .header-section-icons {
        margin: 22px auto 24px;
        width: 500px;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        gap: 35px;
        position: relative;
        left: 96px;
        top: -5px;
    }

    .header-icons-section {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        justify-content: center;
        /* gap: 35px; */
        position: relative;
        right: 14px;
    }

    .header-text {
        font-size: 14px;
        font-family: Nnormal;
        letter-spacing: -0.02px;
    }

    .header-text:hover {
    font-weight: 600;
    color: #222222;
}

    .icon-section-two {
        right: 13px;
    }

    .icon-section-three {
        right: 42px;
    }

    .header-second-home {
        flex-direction: row;
    }

    .header-second-exp {
        flex-direction: row;
    }

    .header-second-services {
        flex-direction: row;
    }

    .header-text-one {
        margin-left: 16px;
        position: relative;
        bottom: 1px;
    }

    .header-text-second {
        margin-left: 8.5px;
        position: relative;
        bottom: 1px;
    }

    .header-text-third {
        margin-left: 12px;
        position: relative;
        bottom: 1px;
    }

    .header-second-new {
        top: 0;
        left: 0;
    }

    .new-one {
        top: -21px;
        left: -87px;
    }

    .new-second {
        top: -21px;
        left: -66px;
    }

    .header-navication-icon {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 7px;
    }

    .header-navication-one {
        margin-right: 12px;
        background: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        height: 40px;
        width: 40px;
    }

    .header-navication-two {
        background: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        height: 40px;
        width: 40px;
    }

    .header-navication-two img {
        height: 16px;
        width: 16px;
    }

    .header-second-search {
        border-radius: 32px;
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 66px;
        gap: 12px;
        padding: 0 24px;
        max-width: 850px;
        margin: 0 auto;
    }

    .header-second-search-section {
        background-color: #ffffff;
        border-radius: 100px;
        transform: none;
        transform-origin: 50% 50% 0px;
        z-index: -3px;
        border: 1px solid #dddddd;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0 8px 24px 0, rgba(0, 0, 0, 0.02) 0 0 0 1px;
    }

    .header-second-search-content {
        opacity: 1;
        display: grid;
        grid-template-columns: minmax(0, 2fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0,
                2fr);
        align-items: center;
        background: transparent;
        gap: 2px;
        width: 100%;
        height: 64px;
    }

    .header-second-search-first {
        padding: 13px 32px 15px 32px;
        z-index: 2;
        width: 73%;
        position: relative;
        right: 1px;
        top: 1px;
    }

    .where {
        font-weight: 500;
        letter-spacing: normal;
        font-size: 12px;
        color: #222222;
        position: relative;
        bottom: 1px;
    }

    .search-destinations {
        border: none;
        outline: #dbdbdb;
        background: transparent;
        font-family: Nnormal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: normal;
    }

    .search-line {
        height: 32px;
        width: 1px;
        background: #dddddd;
    }

    .add-date {
        font-size: 14px;
        text-overflow: ellipsis;
        outline: #dbdbdb;
        color: #6a6a6a;
    }

    .header-second-search-second {
        padding: 13px 24px 15px 24px;
        z-index: 2;
        width: 60%;
        overflow: hidden;
        position: relative;
        top: 1px;
    }

    .header-second-search-third {
        padding: 13px 24px 15px 24px;
        z-index: 2;
        width: 61%;
        overflow: hidden;
        position: relative;
        top: 1px;
    }

    .header-fourth-section {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .header-fourth-section-div {
        padding: 13px 24px 15px 24px;
        position: relative;
        top: 1px;
    }

    .header-button-search {
        padding: 9px 9px 9px 9px;
        right: 0;
        position: absolute;
    }

    .header-search-button {
        border-radius: 50px;
        background: transparent;
        border: none;
    }

    .header-search-button-div {
        border-radius: 50px;
        transform: none;
        transform-origin: 50% 50% 0px;
        background-color: #ff385c;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-search-button-div img {
        width: 16px;
        height: 16px;
    }

    .become-host {
        display: none;
    }

    /* main section */

    .bengaluru-section {
        margin-bottom: 1px;
    }

    .bangaluru-header-main {
        height: 70.02px;
    }

    .heading {
        margin-top: 32px !important;
        margin-bottom: 13px !important;
    }

    .heading:nth-child(2) {
        margin-top: 32px !important;
    }

    .heading-content {
        font-size: 18px;
        position: relative;
        bottom: 1px;
    }

    .heading-content-button {
        display: block;
        margin-left: auto;
        align-items: center;
    }

    .heading-content-button-div {
        column-gap: 4px;
        display: flex;
        justify-content: flex-end;
    }

    .heading-button-one {
        opacity: 0.5;
        border-color: #c1c1c1;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50px;
        border-width: 1px;
        border-style: solid;
    }

    .heading-button-two {
        width: 24px;
        height: 24px;
        border-radius: 50px;
        border: none;
    }

    .heading-button-image img {
        height: 12px;
        width: 12px;
    }

    .header-empty-line {
        height: 1px;
        width: 100%;
        background-color: #ebebeb;
    }

    .room-details {
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 0;
    }

    .room-details-div {
        grid-auto-columns: calc((100% - 32px) / 4);
        padding: 0;
    }

    /* footer last section two */

    .footer-section-content {
        display: flex;
        padding-bottom: 8px;
        gap: 16px;
    }

    .first-section {
        flex: 1;
    }

    .second-section {
        border-top: none;
        flex: 1;
    }

    .third-section {
        border-top: none;
        flex: 1;
    }

    .footer-last-section {
        display: none;
    }

    .footer-last-section-two {
        display: block;
        border-top: 1px solid #ebebeb;
        padding-top: 19px;
        padding-bottom: 8px;
    }

    .footer-last-two {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .section-first-line {
        position: relative;
        top: 6px;
    }

    .social-media-ul {
        position: relative;
        top: 5px;
        left: 4px;
    }

    .last-line-div {
        display: flex;
        position: relative;
        top: 1px;
    }

    .inc {
        margin-right: 8px;
    }

    .privacy ol li span {
        margin-right: 8px;
    }

    .privacy-li-second {
        margin-left: -3px;
    }

    .privacy-li-third {
        margin-left: -3px;
    }

    .privacy-li-fourth {
        margin-left: -3px;
    }

    /* navication section */

    .navication {
        display: none !important;
    }
}

/* media call a 905px*/

@media screen and (min-width: 905px) {
    .header-button-search {
        right: -1px;
    }
}

/* media call a 906px*/

@media screen and (min-width: 906px) {
    .header-button-search {
        right: 0px;
    }
}

/* media call a 950px*/

@media screen and (min-width: 950px) {
    .header-section-first {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header-airbnb-red-logo {
        bottom: 7px;
    }

    .airbnb-red-logo {
        display: none;
    }

    .airbnb-full-logo {
        display: block;
    }

    .header-section-icons {
        left: 60px;
    }

    .heading {
        margin: 32px 32px 14px;
    }

    .bengaluru-section {
        margin-bottom: 0px;
    }

    .room-details {
        padding-right: 32px;
        padding-left: 32px;
        margin-bottom: 1px;
    }

    .room-details-div {
        grid-auto-columns: calc((100% - 44px) / 5);
    }

    /* footer section */

    footer {
        padding-bottom: 0;
    }

    .footer-heading {
        padding: 48px 32px;
    }

    .footer-section-main {
        padding: 0 32px;
    }

    .footer-section-content {
        padding-bottom: 0px;
    }

    .first-section {
        padding-top: 32px;
        padding-bottom: 33px;
    }

    .second-section {
        padding-top: 32px;
        padding-bottom: 33px;
    }

    .third-section {
        padding-top: 32px;
        padding-bottom: 33px;
    }

    .footer-last-section-two {
        display: none;
    }

    .footer-last-three {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        display: block;
        border-top: 1px solid #ebebeb;
        padding-top: 21px;
        padding-bottom: 20px;
    }

    .section-first {
        display: flex;
        justify-content: flex-start;
    }

    .section-two {
        display: flex;
        justify-content: flex-end;
    }

    .section-second-line {
        display: flex;
        position: relative;
        bottom: 2px;
        left: 2px;
    }

    .social-media {
        margin: 0;
    }

    .social-media-ul {
        top: -4px;
        margin: 0 0 0 18px !important;
    }

}

@media screen and (min-width: 1024px) {

    .room-details-div {
        grid-auto-columns: calc((100% - 44px) / 5);
    }

    .section-first {
        position: relative;
        top: 1px;
    }
}

@media screen and (min-width: 1128px) {

    .header-section-icons {
        left: 126px;
    }

    .header-second-home {
        position: relative;
        right: 13px;
    }

    .header-navication-icon-first {
        display: flex;
        gap: 12px;
    }

    .become-host {
        display: block;
        background-color: transparent;
        border: none;
        padding: 11px 12px;
        font-size: 14px;
        font-weight: 500;
        font-family: Nnormal;
        will-change: transform;
    }

    .room-details-div {
        grid-auto-columns: calc((100% - 54px) / 6);
    }

    .section-first {
        top: 2px;
    }

}

@media screen and (min-width: 1440px) {

    .header-section-second {
        padding-bottom: 32px;
    }

    .header-section-first {
        padding-right: 48px;
        padding-left: 48px;
        margin-top: 8px;
    }

    .heading {
        margin: 32px 48px 14px;
    }

    .heading-arrow-second {
        position: relative;
        bottom: 1px;
    }

    .heading-button-image {
        position: relative;
        top: 1px;
    }

    /* .bengaluru-section{
        max-width: 1344px;
        margin: 0 auto;
    } */

    .room-details {
        padding-right: 48px;
        padding-left: 48px;
        padding-top: 2px;
        margin-bottom: 1px;
    }

    .room-details-div {
        grid-auto-columns: calc((100% - 66px) / 7);
    }

    .image-content-favourite {
        padding: 5.6px 9.5px;
    }

    .image-content-favourite span {
        position: relative;
        bottom: 1px;
    }

    .room-content {
        row-gap: 3px;
    }

    .first-line {
        line-height: 15px;
    }

    .footer-heading {
        padding: 48px 48px;
    }

    .footer-section-main {
        padding-right: 48px;
        padding-left: 48px;
    }

    .first-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .second-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .third-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .section-first {
        top: 3px;
    }

    .footer-last-three {
        padding-bottom: 21px;
    }

    .section-first-line {
        top: 7px;
    }


}

@media screen and (min-width: 1920px) {

    /* .header-section-first{
        padding-right: 108px;
        padding-left: 108px;
    } */

    /* .bengaluru-section{
        max-width: 1440px;
        margin: 0 auto;
    } */

    .header-button-search{
        right: -1px;
    }

    .heading-content {
        bottom: 0;
    }

    .heading {
        margin: 32px 48px 10px;
    }

    .room-details {
        margin-bottom: -1px;
    }

    .room-details-div {
        position: relative;
        bottom: 1px;
    }

    .image-content-favourite span {
        bottom: 0;
    }

    .footer-content {
        background: #f7f7f7;
    }

    .footer-heading {
        padding: 48px 32px;
    }

    .footer-heading h2 {
        margin-bottom: 8px;
    }

    .footer-section-content {
        max-width: 1709px;
    }

    .first-section {
        padding-bottom: 49px;
    }

    .second-section {
        padding-bottom: 49px;
    }

    .third-section {
        padding-bottom: 49px;
    }

    .second-section {
        position: relative;
        right: 5px;
    }

    .third-section {
        position: relative;
        right: 9px;
    }

    .footer-last-three {
        padding-top: 20px;
        padding-bottom: 21px;
    }

}